@model SearchViewModel

<div class="row center-block">
    <div class="jumbotron text-center">
        <div class="container">
            <div class="col-md-2 ">
                <a href="/">
                    <img src="~/images/tag-vs-random.png" />
                    <div>Random Tips</div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/tag/editor">
                    <img src="~/images/tag-vs-edit.png" />
                    <div>Editor Tips</div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/tag/shell">
                    <img src="~/images/tag-vs-shell.png" />
                    <div>Shell Tips</div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/tag/debugger">
                    <img src="~/images/tag-vs-debug.png" />
                    <div>Debugging Tips</div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/tag/desginer">
                    <img src="~/images/tag-vs-design.png" />
                    <div>Designer Tips</div>
                </a>
            </div>
            <div class="col-md-2 active">
                <a href="/search">
                    <img src="~/images/tag-vs-search.png" />
                    <div>Search Tips</div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row center-block">
</div>

<div class="row center-block">
    <h2>@Model.GetPageTitle()</h2>
</div>

<div class="row center-block">
    <form class="form-inline" action="/search" method="post">
        <div class="form-group">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input name="term" id="term" class="form-control form-inline" type="text" placeholder="@Model.GetPlaceholderText()" aria-label="Search">
            <button id="btn-search" type="submit" class="btn btn-default form-control form-inline">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </form>

    <p>@Model.GetPageMessage()</p>

    @Html.Partial("_TipsTablePartial", Model.GetTipsViewModel())
</div>
