@model TagViewModel

@{
    ViewData["Title"] = Model.GetPageTitle();
}

<partial name="_JumboNav" model="Model.GetJumboNavViewModel()" />

<div class="row center-block">
    <partial name="_TipsTablePartial" model="Model.GetTipsViewModel()" />
</div>
